<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>스크린세이버에 다가오는 일정을 표시하기 위해 캘린더 접근이 필요합니다.</string>
    <key>NSRemindersUsageDescription</key>
    <string>스크린세이버에 미리알림을 표시하기 위해 접근이 필요합니다.</string>
</dict>
</plist>
